html{
    background-color: rgb(100, 174, 197);
}

#logo{
    display: flex;
    justify-content: center;
    margin-top: 7%;
}
button{
    background-color: rgb(115, 32, 32);
    color: rgb(0, 0, 0);
    border: 0px;
}
button:hover{
    background-color: aliceblue;
    color: rgb(115, 115, 115);
}

#centralizar{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    align-self: center !important;
}

h3{
    text-align: center;
}